@charset "UTF-8";
/* ------------------------------------ ·RESET -------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; border-width: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/* ------------------------------------ ·Typography -------------------------------------*/
html, body { font-size: 14px; font-family: Arial, sans-serif; font-weight: normal; line-height: 1.5em; background-color: white; color: #494949; }

@media only screen and (min-width: 680px) { html, body { font-size: 18px; } }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: Arial; font-weight: normal; color: inherit; text-rendering: optimizelegibility; }

h1.altheader, h2.altheader, h3.altheader, h4.altheader, h5.altheader, h6.altheader { color: #737373; text-transform: uppercase; display: block; }

h1, .h1 { margin-bottom: 0; font-size: 2.8rem; line-height: 1.5; }

h2, .h2 { margin-bottom: 0; font-size: 2.4rem; line-height: 1.5; }

h3, .h3 { margin-bottom: 0; font-size: 2.1rem; line-height: 1.5; }

h4, .h4 { margin-bottom: 0; font-size: 1.8rem; line-height: 1.5; }

h5, .h5 { margin-bottom: 0; font-size: 1.6rem; line-height: 1.5; }

h6, .h6 { margin-bottom: 0; font-size: 1.4rem; line-height: 1.5; }

.xs { font-size: 0.5rem; }

.s { font-size: 0.8rem; }

.m { font-size: 1.2rem; }

.l { font-size: 2rem; }

.xl { font-size: 3rem; }

p, ol, ul, dl, address { margin-bottom: 1.5em; line-height: 1.5em; }

ul, ol { margin: 0 0 1.5em 0; }

li ul, li ol { margin: 0; }

li { list-style: none; }

hr { clear: both; display: block; margin: 1.5em 0; padding: 0; height: 1px; border: 0; border-top: 1px solid #fbb364; }

b, strong { font-weight: bold; }

::-moz-selection { background-color: transparent; }

::selection { background-color: transparent; }

/*------------------------------------ ·GRID ------------------------------------*/
.row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; }

.c0-s { -webkit-flex-basis: 0%; -ms-flex-preferred-size: 0%; flex-basis: 0%; width: 0%; padding: 0.5rem; }

.c20-s { -webkit-flex-basis: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; width: 20%; padding: 0.5rem; }

.c25-s { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; width: 25%; padding: 0.5rem; }

.c30-s { -webkit-flex-basis: 30%; -ms-flex-preferred-size: 30%; flex-basis: 30%; width: 30%; padding: 0.5rem; }

.c33-s { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; width: 33.33333%; padding: 0.5rem; }

.c40-s { -webkit-flex-basis: 40%; -ms-flex-preferred-size: 40%; flex-basis: 40%; width: 40%; padding: 0.5rem; }

.c50-s { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; width: 50%; padding: 0.5rem; }

.c60-s { -webkit-flex-basis: 60%; -ms-flex-preferred-size: 60%; flex-basis: 60%; width: 60%; padding: 0.5rem; }

.c70-s { -webkit-flex-basis: 70%; -ms-flex-preferred-size: 70%; flex-basis: 70%; width: 70%; padding: 0.5rem; }

.c75-s { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; width: 75%; padding: 0.5rem; }

.c80-s { -webkit-flex-basis: 80%; -ms-flex-preferred-size: 80%; flex-basis: 80%; width: 80%; padding: 0.5rem; }

.c100-s { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; padding: 0.5rem; }

@media only screen and (min-width: 680px) { .c0-m { -webkit-flex-basis: 0%; -ms-flex-preferred-size: 0%; flex-basis: 0%; width: 0%; padding: 0.5rem; }
  .c20-m { -webkit-flex-basis: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; width: 20%; padding: 0.5rem; }
  .c25-m { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; width: 25%; padding: 0.5rem; }
  .c30-m { -webkit-flex-basis: 30%; -ms-flex-preferred-size: 30%; flex-basis: 30%; width: 30%; padding: 0.5rem; }
  .c33-m { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; width: 33.33333%; padding: 0.5rem; }
  .c40-m { -webkit-flex-basis: 40%; -ms-flex-preferred-size: 40%; flex-basis: 40%; width: 40%; padding: 0.5rem; }
  .c50-m { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; width: 50%; padding: 0.5rem; }
  .c60-m { -webkit-flex-basis: 60%; -ms-flex-preferred-size: 60%; flex-basis: 60%; width: 60%; padding: 0.5rem; }
  .c70-m { -webkit-flex-basis: 70%; -ms-flex-preferred-size: 70%; flex-basis: 70%; width: 70%; padding: 0.5rem; }
  .c75-m { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; width: 75%; padding: 0.5rem; }
  .c80-m { -webkit-flex-basis: 80%; -ms-flex-preferred-size: 80%; flex-basis: 80%; width: 80%; padding: 0.5rem; }
  .c100-m { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; padding: 0.5rem; } }

@media only screen and (min-width: 68.75rem) { .c0-l { -webkit-flex-basis: 0%; -ms-flex-preferred-size: 0%; flex-basis: 0%; width: 0%; padding: 0.5rem; }
  .c20-l { -webkit-flex-basis: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; width: 20%; padding: 0.5rem; }
  .c25-l { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; width: 25%; padding: 0.5rem; }
  .c30-l { -webkit-flex-basis: 30%; -ms-flex-preferred-size: 30%; flex-basis: 30%; width: 30%; padding: 0.5rem; }
  .c33-l { -webkit-flex-basis: 33.33333%; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; width: 33.33333%; padding: 0.5rem; }
  .c40-l { -webkit-flex-basis: 40%; -ms-flex-preferred-size: 40%; flex-basis: 40%; width: 40%; padding: 0.5rem; }
  .c50-l { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; width: 50%; padding: 0.5rem; }
  .c60-l { -webkit-flex-basis: 60%; -ms-flex-preferred-size: 60%; flex-basis: 60%; width: 60%; padding: 0.5rem; }
  .c70-l { -webkit-flex-basis: 70%; -ms-flex-preferred-size: 70%; flex-basis: 70%; width: 70%; padding: 0.5rem; }
  .c75-l { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; width: 75%; padding: 0.5rem; }
  .c80-l { -webkit-flex-basis: 80%; -ms-flex-preferred-size: 80%; flex-basis: 80%; width: 80%; padding: 0.5rem; }
  .c100-l { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; padding: 0.5rem; } }

/*------------------------------------ ·HIDDEN VISIBLE ------------------------------------*/
.c-hidden-s { display: none; }

.c-hidden-m { display: block; }

.c-hidden-l { display: block; }

.c-visible-s { display: block; }

.c-visible-m { display: none; }

.c-visible-l { display: none; }

@media only screen and (min-width: 680px) { .c-hidden-s { display: block; }
  .c-hidden-m { display: none; }
  .c-visible-s { display: none; }
  .c-visible-m { display: block; } }

@media only screen and (min-width: 68.75rem) { .c-hidden-m { display: block; }
  .c-hidden-l { display: none; }
  .c-visible-m { display: none; }
  .c-visible-l { display: block; } }

/*------------------------------------ ·ICONOS ------------------------------------*/
@font-face { font-family: "icomoon"; src: url("../fonts/icomoon.eot?haldl4"), url("../fonts/icomoon.eot?haldl4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?haldl4") format("truetype"), url("../fonts/icomoon.woff?haldl4") format("woff"), url("../fonts/icomoon.svg?haldl4#icomoon") format("svg"); font-weight: normal; font-style: normal; }

.ico--download, .ico--download2, .ico--download3, .ico--close1, .ico--close2, .ico--menu1, .ico--menu2, .ico--menu3, .ico--check1, .ico--check2, .ico--plus, .ico--minus, .ico--arrow-down, .ico--arrow-left, .ico--arrow-right, .ico--arrow-up, .ico--circle-down, .ico--circle-left, .ico--circle-right, .ico--circle-up, .ico--triangle-down, .ico--triangle-left, .ico--triangle-right, .ico--triangle-up, .ico--mail, .ico--network, .ico--pencil, .ico--phone, .ico--facebook, .ico--github, .ico--google, .ico--instagram, .ico--linkedin, .ico--twitter, .ico--youtube { font-family: icomoon; font-size: 2rem; color: black; }

.ico--download:before { content: ""; }

.ico--download2:before { content: ""; }

.ico--download3:before { content: ""; }

.ico--close1:before { content: ""; }

.ico--close2:before { content: ""; }

.ico--menu1:before { content: ""; }

.ico--menu2:before { content: ""; }

.ico--menu3:before { content: ""; }

.ico--check1:before { content: ""; }

.ico--check2:before { content: ""; }

.ico--close1:before { content: ""; }

.ico--close2:before { content: ""; }

.ico--plus:before { content: ""; }

.ico--minus:before { content: ""; }

.ico--arrow-down:before { content: ""; }

.ico--arrow-left:before { content: ""; }

.ico--arrow-right:before { content: ""; }

.ico--arrow-up:before { content: ""; }

.ico--circle-down:before { content: ""; }

.ico--circle-left:before { content: ""; }

.ico--circle-right:before { content: ""; }

.ico--circle-up:before { content: ""; }

.ico--triangle-down:before { content: ""; }

.ico--triangle-left:before { content: ""; }

.ico--triangle-right:before { content: ""; }

.ico--triangle-up:before { content: ""; }

.ico--mail:before { content: ""; }

.ico--network:before { content: ""; }

.ico--pencil:before { content: ""; }

.ico--phone:before { content: ""; }

.ico--facebook:before { content: ""; }

.ico--github:before { content: ""; }

.ico--google:before { content: ""; }

.ico--instagram:before { content: ""; }

.ico--linkedin:before { content: ""; }

.ico--twitter:before { content: ""; }

.ico--youtube:before { content: ""; }

/*------------------------------------ ·FORMS ------------------------------------*/
form { margin: 0 0 1.5em 0; }

form fieldset { margin-bottom: 1.5em; padding: 0; border-width: 0; }

form legend { display: block; width: 100%; margin-bottom: 3em; padding: 0; color: #494949; border: 0; border-bottom: 1px solid #bfbfbf; white-space: normal; }

form legend small { font-size: fs(x-small); color: #bfbfbf; }

form p { margin-bottom: 0.75em; }

form ul { list-style-type: none; margin: 0 0 1.5em 0; padding: 0; }

form br { display: none; }

label, input, button, select, textarea { font-size: fs(x-small); -webkit-border-radius: 3px; border-radius: 3px; vertical-align: baseline; }

input, button, select, textarea { font-family: Arial, sans-serif; }

label { display: inline-block; margin-bottom: 0.1875em; font-family: fs(x-small); font-weight: bold; color: #494949; cursor: pointer; }

input, textarea, select { display: inline-block; vertical-align: middle; width: 100%; padding: 4px; margin-bottom: 1.5em; background-color: white; border: 1px solid #bfbfbf; color: #494949; color--webkit-appearance: none; color--webkit-appearance--moz-appearance: none; color--webkit-appearance-appearance: none; }

input:hover, textarea:hover, select:hover { border-color: gray; }

.input-small { width: 60px; }

.input-medium { width: 150px; }

.input-big { width: 300px; }

input[type="image"] { width: auto; height: auto; padding: 0; margin: 3px 0; line-height: normal; cursor: pointer; }

input[type="checkbox"], input[type="radio"] { width: 12px; height: 12px; padding: 0; margin: 0 3px 0 0; line-height: normal; cursor: pointer; background-color: white; }

input[type="checkbox"]:checked, input[type="radio"]:checked { background-color: #bfbfbf; border-color: white; border-width: 1px; }

input[type="checkbox"] + label, input[type="radio"] + label { margin-right: 24px; }

input[type="radio"] { -webkit-border-radius: 100%; border-radius: 100%; }

input[type="radio"] label input[type="checkbox"], input[type="radio"] label input[type="radio"] { margin-right: 6px; }

input[type="image"] { border: 0; }

input[type="file"] { width: auto; padding: initial; line-height: initial; border: initial; background-color: transparent; background-color: initial; }

input[type="button"], input[type="reset"], input[type="submit"] { width: auto; height: auto; cursor: pointer; *overflow: visible; }

textarea { resize: vertical; height: auto; overflow: auto; vertical-align: top; }

input[type="hidden"] { display: none; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { opacity: .5; cursor: not-allowed; }

input:focus, textarea:focus { border-color: #ff5612, 40%; outline: none; }

::-webkit-input-placeholder { font-size: fs(small); }

input:-moz-placeholder { font-size: fs(small); }

input:required:focus:invalid { background-color: #fef2e7; border: 1px solid #fce4cf; }

input:required:focus:valid { background-color: #e9f5e9; border: 1px solid #5bb75b; }

/*------------------------------------ ·LINKS ------------------------------------*/
a { text-decoration: none; color: #ff5612; }

a:visited { color: #ff5612; }

a:hover { color: #ff5612; }

a:hover, a:active { outline: 0; }

/*------------------------------------ ·NAV ------------------------------------*/
.nav { position: relative; top: 0; left: 0; width: 100%; z-index: 99999999; height: 3.5rem; background-color: white; }

@media only screen and (min-width: 680px) { .nav { height: 6rem; } }

.nav input { display: none; }

.nav input:checked ~ .nav--checkbox:after { content: "\e5cd"; text-shadow: none; }

.nav input:checked ~ nav { top: 0; }

.nav label.nav--checkbox { background-color: white; margin: 0; position: absolute; top: 0; right: 0; padding: 1rem; font-family: icomoon; z-index: 999999; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; cursor: pointer; -webkit-border-radius: 0px; border-radius: 0px; }

.nav label.nav--checkbox:after { content: "\e3c7"; text-shadow: -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5); font-size: 2rem; }

@media only screen and (min-width: 680px) { .nav label.nav--checkbox { display: none; } }

.nav nav { position: absolute; top: -100vh; left: 0; width: 100%; height: auto; -webkit-transition: all 0.3s; transition: all 0.3s; }

@media only screen and (min-width: 680px) { .nav nav { position: relative; top: 0; } }

.nav ul { margin-top: 3.5rem; margin-bottom: 0; padding: 0 0 0 0; }

@media only screen and (min-width: 680px) { .nav ul { margin-left: auto; margin-right: auto; max-width: 1000px; width: 100%; margin-top: 0; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; padding: 3rem 0 .5rem 0; } }

.nav .logo { display: none; background: red; }

@media only screen and (min-width: 680px) { .nav .logo { display: block; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; top: 0; left: 1rem; height: 100%; } }

@media only screen and (min-width: 680px) { .nav li:last-child a { padding: 0 0; } }

.nav a { background-color: white; padding: .2rem 0; width: 100%; display: inline-block; cursor: pointer; color: black; text-align: center; }

.nav a:visited { color: black; }

.nav a:hover { text-decoration: none; color: black; background-color: #fafafa; }

.nav a:focus { outline: none; color: black; }

@media only screen and (min-width: 680px) { .nav a { padding: 0 .5rem; }
  .nav a:hover { background-color: transparent; } }

.nav > div { width: 100%; height: 3.5rem; }

@media only screen and (min-width: 680px) { .nav > div { height: 6rem; } }

.nav > div > div { margin-left: auto; margin-right: auto; max-width: 1000px; width: 100%; background-color: white; height: 3.5rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0 2rem; z-index: 10; }

@media only screen and (min-width: 680px) { .nav > div > div { height: 6rem; margin-left: auto; margin-right: auto; max-width: 1200px; width: 100%; position: relative; } }

.nav--fixed { position: fixed; }

/*------------------------------------ ·BX-SLIDER ------------------------------------*/
.bx-wrapper { -webkit-box-shadow: none; box-shadow: none; border: none; margin: 0; }

.bx-wrapper img { max-width: none; width: 100%; }

.bx-wrapper .bx-pager { position: absolute; bottom: 0; left: 0; padding: .4rem 0 1rem; }

.bx-wrapper .bx-controls-direction a { top: 50%; margin: -100px 0 0 0; height: 200px; width: 50px; background: none; font-family: icomoon; font-size: 1.5rem; text-indent: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: rgba(255, 255, 255, 0.6); z-index: 2; }

.bx-wrapper .bx-controls-direction a:hover { color: white; }

@media only screen and (min-width: 68.75rem) { .bx-wrapper .bx-controls-direction a { font-size: 3rem; } }

.bx-wrapper .bx-prev { background: none; left: 0; }

.bx-wrapper .bx-prev:after { content: '\e913'; }

.bx-wrapper .bx-next { background: none; right: 0; }

.bx-wrapper .bx-next:after { content: '\e914'; }

.bx-loading { background: none; }

/*------------------------------------ ·BOTONES ------------------------------------*/
.btn--disabled, .btn--bordes--disabled, .btn--info, .btn--bordes--info, .btn--error, .btn--bordes--error, .btn--warning, .btn--bordes--warning, .btn--success, .btn--bordes--success, .btn--primary, .btn--bordes--primary { display: inline-block; line-height: 3em; color: white; text-align: center; vertical-align: middle; font-size: fs(normal); white-space: nowrap; border: none; cursor: pointer; margin: .2rem 0; padding: 0 1em; -webkit-border-radius: 3px; border-radius: 3px; }

.btn--disabled:hover, .btn--bordes--disabled:hover, .btn--info:hover, .btn--bordes--info:hover, .btn--error:hover, .btn--bordes--error:hover, .btn--warning:hover, .btn--bordes--warning:hover, .btn--success:hover, .btn--bordes--success:hover, .btn--primary:hover, .btn--bordes--primary:hover { text-decoration: none; }

.btn--disabled:active, .btn--bordes--disabled:active, .btn--info:active, .btn--bordes--info:active, .btn--error:active, .btn--bordes--error:active, .btn--warning:active, .btn--bordes--warning:active, .btn--success:active, .btn--bordes--success:active, .btn--primary:active, .btn--bordes--primary:active, .btn--disabled:focus, .btn--bordes--disabled:focus, .btn--info:focus, .btn--bordes--info:focus, .btn--error:focus, .btn--bordes--error:focus, .btn--warning:focus, .btn--bordes--warning:focus, .btn--success:focus, .btn--bordes--success:focus, .btn--primary:focus, .btn--bordes--primary:focus { outline: none; }

.btn--disabled:visited, .btn--bordes--disabled:visited, .btn--info:visited, .btn--bordes--info:visited, .btn--error:visited, .btn--bordes--error:visited, .btn--warning:visited, .btn--bordes--warning:visited, .btn--success:visited, .btn--bordes--success:visited, .btn--primary:visited, .btn--bordes--primary:visited { color: white; }

input[type="submit"].btn:hover { border-color: currentcolor; }

.btn--disabled { background-color: #e6e6e6; color: #494949; opacity: .5; cursor: not-allowed; }

.btn--bordes--disabled { background-color: transparent; border: 1px solid currentcolor; color: #e6e6e6; color: #494949; background-color: #e6e6e6; opacity: .5; cursor: not-allowed; }

.btn--info { background-color: #42b8dd; }

.btn--bordes--info { background-color: transparent; border: 1px solid currentcolor; color: #42b8dd; }

.btn--error { background-color: #da4f49; }

.btn--bordes--error { background-color: transparent; border: 1px solid currentcolor; color: #da4f49; }

.btn--warning { background-color: #e78730; }

.btn--bordes--warning { background-color: transparent; border: 1px solid currentcolor; color: #e78730; }

.btn--success { background-color: #5bb75b; }

.btn--bordes--success { background-color: transparent; border: 1px solid currentcolor; color: #5bb75b; }

.btn--primary { background-color: #ff5612; }

.btn--bordes--primary { background-color: transparent; border: 1px solid currentcolor; color: #ff5612; }

.btn--mini { padding-right: 0.5em; padding-left: 0.5em; line-height: 1.5; font-size: fs(x-small); }

.btn--small { padding-right: 1.5em; padding-left: 1.5em; line-height: 2; font-size: fs(small); }

.btn--large { padding-right: 3em; padding-left: 3em; line-height: 3; font-size: fs(big); }

/*------------------------------------ ·IMAGEN ------------------------------------*/
.img--rounded { -webkit-border-radius: 12px; border-radius: 12px; }

.img--polaroid { padding: 12px; background-color: white; border: 1px solid #fbb364; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle { -webkit-border-radius: 100%; border-radius: 100%; }

body { overflow: hidden; }

@font-face { font-family: 'aftasansthin'; src: url("../fonts/aftasansthin.eot"), url("../fonts/aftasansthin.ttf") format("truetype"), url("../fonts/aftasansthin.woff") format("woff"), url("../fonts/aftasansthin.svg") format("svg"); font-weight: normal; font-style: normal; }

.font-titulo { font-family: 'aftasansthin'; }

.full { width: 100vw; max-height: 100vh; height: 100vh; position: relative; z-index: 10; }

.home { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background-image: url("../images/fondo.jpg"); background-repeat: no-repeat; background-position: center center; background-size: cover; -webkit-box-shadow: 0px 0px 20px black; box-shadow: 0px 0px 20px black; }

.titulo { position: relative; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; font-family: 'aftasansthin'; color: white; text-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5); }

.titulo h1 { font-size: 3rem; font-family: 'aftasansthin'; }

.titulo p { font-size: 1.4rem; margin-bottom: 0; font-family: 'aftasansthin'; }

.lista-proyectos { width: 100vw; }

.lista-proyectos > div { padding: 0 .25rem .25rem 0; }

.lista-proyectos a { padding: .8em 0; background-color: rgba(0, 0, 0, 0.8); display: block; color: white; cursor: pointer; font-size: 1rem; font-weight: bold; font-family: 'aftasansthin'; }

.lista-proyectos p { margin: 0; font-size: .7rem; font-weight: lighter; }

.master-pr { position: absolute; top: 1rem; right: 1rem; font-size: .8rem; cursor: pointer; text-align: center; background-color: rgba(0, 0, 0, 0.6); padding: .5rem .75rem; -webkit-border-radius: 3px; border-radius: 3px; }

.master-g { cursor: pointer; display: none; position: absolute; top: 0; left: 0; height: 100vh; width: 100vw; background-color: white; }

.master-g > div { height: 100vh; width: 100vw; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; }

.master-g img { width: 100%; }

.master-g .ico-cerrar { color: #252525; position: absolute; top: 2rem; right: 2rem; font-size: 1.3rem; }

.barra { position: relative; width: 100%; background-color: white; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.barra a { padding: .25rem .5rem; border: solid 1px red; -webkit-border-radius: 5px; border-radius: 5px; }

.transition { position: absolute; background-color: #FFF; top: 0; left: 50%; z-index: 99999999; margin-left: -75vw; width: 150vw; height: 100vh; -webkit-transform: skew(10deg); -ms-transform: skew(10deg); transform: skew(10deg); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.transition img { height: 10rem; -webkit-transform: skew(-10deg); -ms-transform: skew(-10deg); transform: skew(-10deg); }

.transition-entrada { -webkit-transition: .3s all; transition: .3s all; }

.transition-salida { margin-left: 0; left: 110vw; -webkit-transition: .2s all; transition: .2s all; }

.entrada { left: -85vw; }

.salida-posicion { margin-left: -75vw; left: 50%; }

a.cerrar { position: absolute; top: 1rem; right: 1rem; font-size: 2rem; cursor: pointer; z-index: 999999; color: white; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }

a.ico-cerrar:after { font-family: "icomoon"; content: '\e5cd'; height: 1rem; }

a.ico-home { cursor: pointer; font-size: .75rem; right: initial; top: initial; bottom: 1rem; text-shadow: none; left: 1rem; border: 1px solid white; padding: .25rem .5rem; -webkit-border-radius: 3px; border-radius: 3px; }

.proyecto { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.proyecto > div { position: relative; height: 50vh; width: 100vw; }

.proyecto > div > div { height: 100%; }

.descripcion-info { background-color: white; padding: 3rem; text-align: left; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.descripcion h1 { font-weight: lighter; font-family: 'aftasansthin'; line-height: 1.1em; margin-bottom: .4em; }

.descripcion p { margin-bottom: 0; }

.descripcion-img { width: 100%; padding: 0; }

.descripcion img { width: 100%; }

.contenido-master { background-color: #D4D0D1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; color: black; text-align: left; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0 0 0 3rem; position: relative; }

.contenido-master > div:last-child { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.contenido-master .font-titulo { font-weight: bold; font-size: 1.6rem; }

.contenido-casas { background-color: white; padding: 1rem 2rem; text-align: left; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.contenido-casas > div:last-child { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.contenido-casas ul { margin-bottom: 0; width: 100%; }

.contenido-casas li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 1rem; }

.contenido-casas li:last-child { margin-bottom: 0; }

.contenido-casas a { color: black; width: 100%; font-size: 1rem; line-height: 1.2rem; position: relative; font-weight: bold; cursor: pointer; }

.contenido-casas a:after { content: '>'; position: absolute; right: 0; top: 0; color: #F38206; }

.contenido-casas span { color: #F38206; }

.franja { width: 100; height: 1rem !important; background-color: rgba(237, 138, 1, 0.8); position: absolute !important; bottom: 0; left: 0; }

.master-los-montes { width: 467px; }

.master-aguas-claras { width: 410px; }

.master-los-robles { width: 651px; }

.master-los-maderos { width: 575px; }

.master-aguapiedra { width: 702px; }

.master-montepiedra { width: 570px; }

.master-vista-los-bosques { width: 543px; }

.master-departamentos-de-hacienda { width: 730px; }

.casa > div { height: 100%; }

.casa-img { height: 100%; padding: 0; -webkit-transition: all 1s; transition: all 1s; position: relative; }

.casa-img img { height: 100%; }

.casa-info { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding: 0; -webkit-transition: all 1s; transition: all 1s; }

.casa-planta { background-color: #D4D0D1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: all 1s; transition: all 1s; height: 35vh; position: relative; }

.casa-caracteristicas { padding: 0 2rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: left; height: 65vh; -webkit-transition: all 1s; transition: all 1s; }

.casa-caracteristicas h2 { font-family: 'aftasansthin'; font-size: 2rem; line-height: 1.1em; margin-bottom: .5em; }

.casa-caracteristicas h1 { font-size: 1.2rem; }

.casa-caracteristicas span { color: #F38206; }

.casa-caracteristicas p { margin-bottom: 3em; line-height: 1.5em; }

.casa .lista-iconos { margin-top: 4rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.casa .lista-iconos > div:not(:last-child) { margin-right: 3.2rem; }

.casa .lista-iconos img { height: 1.5rem; }

.casa .lista-iconos p { font-size: .8rem; margin-bottom: 0; }

.planta-conte { background-color: #a7a7a7; position: absolute; bottom: 0; right: 0; height: 100%; width: 100%; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; z-index: 99999999; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; cursor: pointer; }

.planta-conte div { width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.planta-conte button { border: none; background-color: transparent; font-size: 1rem; color: #545454; margin: .5rem 0; font-family: 'aftasansthin'; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

span.cerrar-planta { display: none; position: fixed; top: 1rem; right: 1rem; font-size: 2rem; cursor: pointer; color: white; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); z-index: 99999999; }

span.cerrar-planta:after { font-family: "icomoon"; content: '\e5cd'; height: 1rem; }

.planta-full { height: 100vh; width: 100vw; }

.planta-full button { visibility: hidden; }

.planta-full span { display: block; }

.indexdown { z-index: -1 !important; }
